*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
  background-color: thistle;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: #333;
  font-size: 1.5rem;
}