.counter-container{
    background-color: aliceblue;
    padding: 50px;
    color: black;
    display: flex;
    flex-direction: column;
    gap: 15px;
    border-radius: 10px;
     
}
#para{
    font-size: 20px;
    font-weight: bold;
}
#btn{
    background-color: blue;
    padding: 10px;
    color: white;
    border-radius: 10px;
    border: none;
}