.user-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1.5rem;
    background-color: whitesmoke;
    padding: 20px;
    margin: 10px;
}
#user-img{
    width: 200px;
    border-radius: 50%;
    height: 220px;
}